<div *ngIf="tweets.length == 0">
  <mat-spinner *ngIf="!fetchDone" style="margin-left: 40%"></mat-spinner>
  <br />
  <p *ngIf="fetchDone" style="text-align: center">No tweet Found !!</p>
</div>
<div *ngFor="let tweet of tweets; let i = index" class="card mb-3" style="max-width: 98%">
  <div class="row g-0">
    <div class="col-md-10">
      <div class="card-body">
        <h3 class="card-title">
          <img *ngIf="isUserMale(tweet)" class="rounded-circle img-thumbnail custmSize" alt="profilePic"
            style="box-sizing: border-box" src=".\assets\boy-image.jfif" data-holder-rendered="true" />
          <img *ngIf="!isUserMale(tweet)" class="rounded-circle img-thumbnail custmSize" alt="profilePic"
            style="box-sizing: border-box" src=".\assets\girl-image.jfif" data-holder-rendered="true" />
          <strong style="margin-left: 10px"> {{ tweet.createdByName }} </strong>
        </h3>
        <div style="margin-left: 50px">
          <p class="card-text">
            {{ tweet.message }}
          </p>
          <p class="card-text" *ngIf="tweet.tag">
            <small class="text-muted">tagged : {{ tweet.tag }}</small>
          </p>
        </div>
      </div>
      <div class="edit-controls">
        <div>
          <i class="bi bi-hand-thumbs-up" style="font-size: x-large" *ngIf="!tweet.likedByLoggedUser"
            (click)="tweetLike(tweet.id, true, i)"></i>
          <i class="bi bi-hand-thumbs-up-fill" *ngIf="tweet.likedByLoggedUser" style="font-size: x-large"
            (click)="tweetLike(tweet.id, false, i)"></i>
        </div>
        <div>
          <i class="bi bi-reply" style="font-size: x-large" (click)="openReply(i)"></i>
        </div>
        <div>
          <i class="bi bi-pencil" style="font-size: x-large" (click)="openEdit(i)" *ngIf="isMyTweet(tweet)"></i>
        </div>
        <div>
          <i class="bi bi-trash" style="font-size: x-large" (click)="tweetDelete(tweet.id, i)"
            *ngIf="isMyTweet(tweet)"></i>
        </div>
      </div>
    </div>
    <mat-divider class="mt-2"></mat-divider>
    <div *ngIf="tweet.uiRDisplay" class="md-5 mt-1" style="background-color: snow">
      <div *ngFor="let reply of replies" class="row" style="margin-left: 25px">
        {{ reply.fullName }} : {{ reply.replyMessage }}
      </div>
      <div class="row">
        <div>
          <input type="text" class="form-control col-sm-8" placeholder="Add a Comment" #replymsg /><button
            (click)="replyMsg(replymsg.value, tweet.id)" class="btn btn-success col-sm-12 mt-3">
            Reply <i class="bi bi-reply-fill"></i>
          </button>
          <mat-progress-bar *ngIf="displayLoading" class="mt-1" mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <mat-divider class="mt-2"></mat-divider>
    </div>
    <div *ngIf="tweet.uiEDisplay" class="md-5 mt-1">
      <div>
        <form [formGroup]="tweetEditForm">
          <textarea formControlName="message" type="text" class="form-control mt-2" rows="2"
            placeholder="Share Your Thoughts..." [(ngModel)]="msg"></textarea>
          <input formControlName="tag" type="text" class="form-control mt-2" [(ngModel)]="tag" placeholder="Tag" />
          <button (click)="Update(tweet.id, i)" class="btn btn-success col-sm-12 mt-3">
            Update Tweet
          </button>
        </form>
        <mat-progress-bar *ngIf="displayLoading" class="mt-1" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="displayError" class="alert alert-danger mt-3">
          Oops Can't Edit
        </div>
      </div>
      <div *ngIf="isShowEditSuccess">
        <button class="alert alert-success col-sm-12 mt-3">
          tweet updated
        </button>
      </div>
    </div>
  </div>
</div>