<div *ngIf="users.length == 0">
  <mat-spinner style="margin-left: 40%"></mat-spinner>
</div>

<div *ngFor="let user of users" class="card mb-3" style="max-width: 99%">
  <div class="row g-0">
    <div class="col-md-2">
      <img *ngIf="user.gender==='M'" class="rounded-circle img-thumbnail custmSize" alt="profilePic"
        style="box-sizing: border-box" src=".\assets\boy-image.jfif" data-holder-rendered="true" />
      <img *ngIf="user.gender==='F'" class="rounded-circle img-thumbnail custmSize" alt="profilePic"
        style="box-sizing: border-box" src=".\assets\girl-image.jfif" data-holder-rendered="true" />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h4 *ngIf="user.isActive" class="card-title" style="color: green; font-weight: bold;">Active</h4>
        <h4 *ngIf="!user.isActive" class="card-title" style="color: darkred; font-weight: bold;"> Away : {{user.lastSeen
          | timeAgo}}</h4>
        <p class="card-text">
          <strong>Name : </strong>
          {{user.firstName}} {{user.lastName}}
        </p>
        <p class="card-text"><strong>Gender : </strong>{{getUserGenderByGenderId(user.gender)}}</p>
        <p class="card-text"><strong>Email Id : </strong>{{user.email}}</p>
      </div>
    </div>
  </div>
</div>