<div class="row">
  <div class="colm-logo">
    <img
      src=".\assets\LogoTweetApp.png"
      alt="Logo"
      width="250px"
      height="250px"
      style="margin-left: 60px;margin-bottom: 20px;"
    />
    <h2>TweetApp helps you connect and share with the people in your life.</h2>
  </div>
  <div class="colm-form">
    <div class="form-container">
      <form (submit)="submit()" [formGroup]="loginForm">
        <input
          type="text"
          formControlName="userId"
          placeholder="Email address"
        />
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <button class="btn-login" type="submit" value="Login">Login</button>
        <a routerLink="/forgetpassword">Forgot password?</a>
        <button routerLink="/register" class="btn-new">
          Create new Account
        </button>
      </form>
    </div>
  </div>
</div>
